body, html{
  background-color: white;
  width: 100%;
  height: 100%;
}

#root{
  width: 100%;
  height: 100%;
}
.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.loginTileContainer{
  display: flex;
  gap: 2rem;
}

.loginTile{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(104, 96, 85);
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  border-radius: 1rem;
  cursor: pointer;
}

.loginTile:hover{
  border: 1px solid white;
}

.contact_list_container{
  background-color: antiquewhite;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  width: 15em;
}

.contact_list{
  list-style-type: none;
  padding: 0;
}

.loading{
  animation: spin 4s linear infinite;
}
@keyframes spin {
  100%{
    transform: rotate(360deg);
  }
  
}
li{
  margin-top: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgb(238, 224, 206);

}
.chatwindow{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center ;
  width: 100%;
  height: 100%;
  background-color: white
}

.chat_content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  width: 60%;
  height: 100%;
}

.chat_input{
  background-color: white;
  width: 60%;
}

.chat_footer{
  background-color: antiquewhite;
  border-top: 1px solid black;
  width: 100%;
  height: 3em;
  
}

.loginView{
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: antiquewhite;
  justify-content: center;
  align-items: center;
}

.loginForm{
  display: flex;
  width: 20em;
  flex-direction: column;
}